{
  "Blueprints": {
    "blueprint_name": "{{ blueprint_name }}",
    "stack_name": "HDP",
    "stack_version": "{{ hdp_minor_version }}"
  },
  "host_groups" : [
    {% for blueprint_item in blueprint_dynamic if groups[blueprint_item.host_group] is defined and groups[blueprint_item.host_group]|length > 0 -%}
    {
      "name" : "{{ blueprint_item.host_group }}",
      "cardinality" : "1",
      "configurations" : [ ],
      "components" : [
        {% for client in blueprint_item.clients -%}
        { "name" : "{{ client }}" },
        {% endfor %}
        {% for service in blueprint_item.services -%}
        { "name" : "{{ service }}" }
        {% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }{% if not loop.last and groups[blueprint_item.host_group]|length > 0 %},{% endif %}
    {% endfor %}
  ],
  "configurations": [
    {
      "core-site": {
        "properties" : {
          {% if namenode_groups|length > 1 -%}
          "fs.defaultFS" : "hdfs://{{ hdfs_ha_name }}",
          "ha.zookeeper.quorum" : "{% for zk in zookeeper_groups %}%HOSTGROUP::{{ zk }}%:2181{% if not loop.last %},{% endif %}{% endfor %}",
          {% endif -%}
          "hadoop.http.authentication.simple.anonymous.allowed" : "true",
          "hadoop.http.authentication.type" : "simple",
          "hadoop.proxyuser.root.groups" : "*",
          "hadoop.proxyuser.root.hosts" : "*",
          "hadoop.proxyuser.hdfs.groups" : "*",
          "hadoop.proxyuser.hdfs.hosts" : "*",
          "hadoop.proxyuser.hadoop.groups" : "*",
          "hadoop.proxyuser.hadoop.hosts" : "*",
          "hadoop.proxyuser.yarn.hosts" : "*",
          "hadoop.proxyuser.hcat.groups" : "*",
          "hadoop.proxyuser.hcat.hosts" : "*",
          "hadoop.proxyuser.hive.groups" : "*",
          "hadoop.proxyuser.hive.hosts" : "*",
          "hadoop.proxyuser.oozie.groups" : "*",
          "hadoop.proxyuser.oozie.hosts" : "*",
          "io.compression.codecs" : "org.apache.hadoop.io.compress.GzipCodec,org.apache.hadoop.io.compress.DefaultCodec,org.apache.hadoop.io.compress.SnappyCodec"
          "fs.trash.interval" : "360"
        }
      }
    },
    {
      "hdfs-site" : {
        "properties": {
          {% if namenode_groups|length > 1 -%}
          "dfs.client.failover.proxy.provider.{{ hdfs_ha_name }}" : "org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider",
          "dfs.ha.automatic-failover.enabled" : "true",
          "dfs.ha.fencing.methods" : "shell(/bin/true)",
          "dfs.ha.namenodes.{{ hdfs_ha_name }}" : "nn1,nn2",
          "dfs.namenode.http-address.{{ hdfs_ha_name }}.nn1" : "%HOSTGROUP::{{ namenode_groups[0] }}%:50070",
          "dfs.namenode.http-address.{{ hdfs_ha_name }}.nn2" : "%HOSTGROUP::{{ namenode_groups[1] }}%:50070",
          "dfs.namenode.https-address.{{ hdfs_ha_name }}.nn1" : "%HOSTGROUP::{{ namenode_groups[0] }}%:50470",
          "dfs.namenode.https-address.{{ hdfs_ha_name }}.nn2" : "%HOSTGROUP::{{ namenode_groups[1] }}%:50470",
          "dfs.namenode.rpc-address.{{ hdfs_ha_name }}.nn1" : "%HOSTGROUP::{{ namenode_groups[0] }}%:8020",
          "dfs.namenode.rpc-address.{{ hdfs_ha_name }}.nn2" : "%HOSTGROUP::{{ namenode_groups[1] }}%:8020",
          "dfs.namenode.shared.edits.dir" : "qjournal://{% for jn in journalnode_groups %}%HOSTGROUP::{{ jn }}%:8485{% if not loop.last %};{% endif %}{% endfor %}/{{ hdfs_ha_name }}",
          "dfs.nameservices" : "{{ hdfs_ha_name }}",
          {% endif -%}
          {% if rangeradmin_hosts|length > 0 and ranger_options.enable_plugins|default(no) %}
            "dfs.namenode.inode.attributes.provider.class" : "org.apache.ranger.authorization.hadoop.RangerHdfsAuthorizer",
          {% endif %}
          {% if rangerkms_hosts|length > 0 %}
            "dfs.encryption.key.provider.uri" : "kms://http@{% for kmshost in rangerkms_hosts %}{{ hostvars[kmshost]['ansible_fqdn'] }}{% if not loop.last %};{% endif %}{% endfor %}:9292/kms",
          {% endif %}
          "dfs.datanode.data.dir" : "/hadoop/hdfs/data",
          "dfs.datanode.failed.volumes.tolerated" : "0",
          "dfs.replication" : "{{ hdfs_replication|default(3) }}"
        }
      }
    },
    {
      "hdfs-site": {
        "properties" : {
          "dfs.client.failover.proxy.provider.nydoop" : "org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider",
          "dfs.ha.automatic-failover.enabled" : "true",
          "dfs.ha.fencing.methods" : "shell(/bin/true)",
          "dfs.ha.namenodes.nydoop" : "nn1,nn2",
          "dfs.namenode.http-address" : "%HOSTGROUP::master_1%:50070",
          "dfs.namenode.http-address.nydoop.nn1" : "%HOSTGROUP::master_1%:50070",
          "dfs.namenode.http-address.nydoop.nn2" : "%HOSTGROUP::master_2%:50070",
          "dfs.namenode.https-address" : "%HOSTGROUP::master_1%:50470",
          "dfs.namenode.https-address.nydoop.nn1" : "%HOSTGROUP::master_1%:50470",
          "dfs.namenode.https-address.nydoop.nn2" : "%HOSTGROUP::master_2%:50470",
          "dfs.namenode.rpc-address.nydoop.nn1" : "%HOSTGROUP::master_1%:8020",
          "dfs.namenode.rpc-address.nydoop.nn2" : "%HOSTGROUP::master_2%:8020",
          "dfs.namenode.shared.edits.dir" : "qjournal://%HOSTGROUP::master_1%:8485;%HOSTGROUP::master_2%:8485;%HOSTGROUP::slave_1%:8485/nydoop",
          "dfs.nameservices" : "nydoop"
        }
      }
    },
    {
      "yarn-site" : {
        "properties" : {
          "hadoop.registry.rm.enabled" : "false",
          "hadoop.registry.zk.quorum" : "%HOSTGROUP::master_1%:2181,%HOSTGROUP::master_2%:2181,%HOSTGROUP::slave_1%:2181",
          "yarn.log.server.url" : "http://%HOSTGROUP::master_2%:19888/jobhistory/logs",
          "yarn.resourcemanager.address" : "%HOSTGROUP::master_2%:8050",
          "yarn.resourcemanager.admin.address" : "%HOSTGROUP::master_2%:8141",
          "yarn.resourcemanager.cluster-id" : "yarn-cluster",
          "yarn.resourcemanager.ha.automatic-failover.zk-base-path" : "/yarn-leader-election",
          "yarn.resourcemanager.ha.enabled" : "true",
          "yarn.resourcemanager.ha.rm-ids" : "rm1,rm2",
          "yarn.resourcemanager.hostname" : "%HOSTGROUP::master_2%",
          "yarn.resourcemanager.monitor.capacity.preemption.total_preemption_per_round" : "0.2",
          "yarn.resourcemanager.recovery.enabled" : "true",
          "yarn.resourcemanager.resource-tracker.address" : "%HOSTGROUP::master_2%:8025",
          "yarn.resourcemanager.scheduler.address" : "%HOSTGROUP::master_2%:8030",
          "yarn.resourcemanager.store.class" : "org.apache.hadoop.yarn.server.resourcemanager.recovery.ZKRMStateStore",
          "yarn.resourcemanager.webapp.address" : "%HOSTGROUP::master_2%:8088",
          "yarn.resourcemanager.webapp.https.address" : "%HOSTGROUP::master_2%:8090",
          "yarn.timeline-service.address" : "%HOSTGROUP::master_2%:10200",
          "yarn.timeline-service.entity-group-fs-store.group-id-plugin-classes" : "org.apache.tez.dag.history.logging.ats.TimelineCachePluginImpl",
          "yarn.timeline-service.webapp.address" : "%HOSTGROUP::master_2%:8188",
          "yarn.timeline-service.webapp.https.address" : "%HOSTGROUP::master_2%:8190",
          "yarn.timeline-service.http-authentication.proxyuser.root.hosts" : "%HOSTGROUP::master_1%",
          "yarn.timeline-service.http-authentication.proxyuser.root.groups" : "*",
          "yarn.resourcemanager.zk-address": "%HOSTGROUP::master_1%:2181,%HOSTGROUP::master_2%:2181,%HOSTGROUP::slave_1%:2181",
          "yarn.resourcemanager.hostname.rm1" : "%HOSTGROUP::master_2%",
          "yarn.resourcemanager.hostname.rm2" : "%HOSTGROUP::master_1%",
          "yarn.nodemanager.resource.cpu-vcores" : "4",
          "yarn.scheduler.maximum-allocation-vcores" : "1",
          "yarn.nodemanager.resource.memory-mb" : "1536",
          "yarn.scheduler.maximum-allocation-mb" : "1536"
        }
      }
    },
    {
      "hive-env" : {
        "hive_user" : "hive"
      }
    },
    {
      "hive-site" : {
        "hive.metastore.failure.retries" : "24"
      }
    },
    {
      "hiveserver2-site" : {
        "hive.metastore.metrics.enabled" : "true"
      }
    },
    {
      "hivemetastore-site" : {
        "properties" : {
          "hive.service.metrics.hadoop2.component" : "hivemetastore",
          "hive.metastore.metrics.enabled" : "true",
          "hive.service.metrics.reporter" : "HADOOP2"
        }
      }
    },
    {
      "oozie-site" : {
        "oozie.action.retry.interval" : "30"
      }
    },
    {
      "oozie-env" : {
        "oozie_user" : "oozie"
      }
    }
  ]
}
